{% extends "base.html" %}

{% block content %}
  {% include "components/head_style_fade.html" %}
  {% include "components/splash.html" %}
  {% include "components/slider.html" %}
  {% include "components/product_banners.html" %}
  {% include "components/popular_products.html" %}
  {% include "components/latest_products.html" %}
  {% include "components/brands.html" %}
  {% include "components/banner.html" %}
  {% include "components/blog.html" %}
  {% include "components/subscribe.html" %}
  {% include "components/fadeout_script.html" %}
{% endblock %}
